<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WordCount | {{title}}</title>
<!--    <link rel="stylesheet" href="style.css">-->
  </head>
  <body>
<!--	<script src="index.js"></script>-->
    <header>
        <h1>Word Count!</h1>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
      &copy Copyright WordCount-Django Technologies Ltd. All Rights Reserved.
      <br>
      Powered by: Django
  </footer>
  </body>
</html>
