{% extends 'base.html' %}
{% block content %}
    <h3>Pragraph entered</h3>
    <p class="border border-success border-width-2 p-3">
        {{ paragraph }}
    </p>

    <p>
        Number of words in your paragraph are,
    </p>
    <h2>{{ wordcount }}</h2>

    <table class="table">
        <caption>
            <b>Frequency of Words</b>
        </caption>
        <thead class="thead-dark">
            <tr>
                <th>Word</th>
                <th>Frequency</th>
            </tr>
        </thead>


        {% for key,value in word_freq %}
        <tr>
            <td>
               {{ key }}
            </td>
            <td>
               {{ value }}
            </td>
        </tr>
        {% endfor %}

    </table>
    <br><br><br>
{% endblock %}